        {{getTimeLeft postDate postLife}}
        <div class="row post">
            <div class="col-2 col-lg-1">
                {{#if user}}
                    <a href="" class="vote-up" data-id="{{ id }}"><img src="../../assets/icons/good.png" alt="discUp" class="discup"></a>
                {{/if}}
                <br>
                <span class="upvotes{{id}} vote-count"><i class="fa fa-plus"></i>{{ upVotes }}</span><br>
                <span class="downvotes{{id}} vote-count">{{ downVotes}}</span><br>
                {{#if user}}
                <a href="" class="vote-down" data-id="{{id}}"><img src="../../assets/icons/bad.png" alt="discDown" class="discdown"></a>
                {{/if}}
            </div>
            <div class="col-10">
                <h2><a href="/post/view/{{id}}">{{ title }}</h2></a>
                <h4>By: {{ PostUser.displayName }}</h4>
               {{#if url}}<h6><a href="{{url}}">{{url}}</a></h6>{{/if}}
                <p>{{ comment}}</p>
            </div>

        </div>


        {{#if children}}
            {{#each children}}

                {{> post}}
            {{/each}}
        {{/if}}