        <h4 class="timeLeft">Minutes Remaining: {{getTimeLeft post.postDate post.postLife}}</h4>

        <div class="row post">
            <div class="col-2 col-lg-1">

                {{#if user}}
                <a href="" class="vote-up" data-id="{{ post.id }}"><img src="../../assets/icons/good.png" alt="discUp" class="discup"></a>
                <br>
                <span class="mx-1 text-success upvotes{{post.id}} vote-count lead">{{ post.upVotes }}</span>
                <br>
                <span class="mx-2 my-1 downvotes{{post.id}} vote-count lead">{{ post.downVotes}}</span>
                <br>
                <a href="" class="vote-down" data-id="{{post.id}}"><img src="../../assets/icons/bad.png" alt="discDown" class="discdown"></a>
                {{/if}}
            </div>
            <div class="col-10">
                <h4>{{#if post.url}}<a href="{{ post.url }}" class="text-dark">{{/if}}{{ post.title }}{{#if post.url}}</a>{{/if}}</h4>
                <h6>By: {{ post.PostUser.displayName }}</h6>
                <h6>In: {{>topic post.Topic }}</h6>
                <p>{{ post.comment}}</p>
                {{#if user}}
                <div class="reply-box">
                    <p>Quick Reply:</p> 
                    <textarea id="replyTo{{post.id}}" class="form-control reply" cols='4'></textarea>
                    <button class="btn btn-primary replyBtn" data-id="{{ post.id }}">Submit</button>
                </div>
                {{/if}}
            </div>

        </div>

        <hr> 
        {{#if post.children}}
            {{#each post.children as |post| }}
                {{#with ../this }}
                    {{> post post=post}}
                {{/with }}
            {{/each}}
        {{/if}}