

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2 border mx-3 py-4 d-none d-md-block">
            <h4 class="font-weight-light">Topics</h4>
            <hr>
            <h5 class="font-weight-light"><a href="/">All</a></h5>
            {{#each topics}}
                <h6 class="lead">{{> topic }}<h6>
            {{/each}}
        </div>
        <div class="col-12 col-lg-7 border px-4 py-4 box-shadow">
            {{#unless posts}}
                <h4 class="font-weight-light">Nothing to show</h4>
            {{/unless}}
            {{#if posts}}
                <h4 class="font-weight-light">Ongoing Discussions</h4>
                <hr>
                {{#each posts as |post|}}
                    {{#with ../this}}
                        {{> post post=post }}
                    {{/with}}
                {{/each}}
            {{/if}}
            {{#unless noPagination}}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{#paginate pagination type="first"}}
                        <li class="page-item{{#if disabled}} disabled{{/if}}">
                            <a class="page-link" href="?page={{n}}" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>
                    {{/paginate}}
                    {{#paginate pagination type="previous"}}
                        <li class="page-item{{#if disabled}} disabled{{/if}}">
                            <a class="page-link" href="?page={{n}}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {{/paginate}}
                    {{#paginate pagination type="middle" limit="10"}}
                        <li class="page-item"><a class="page-link{{#if disabled}} disabled{{/if}}" href="?page={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    {{#paginate pagination type="next"}}
                    <li class="page-item{{#if disabled}} disabled{{/if}}">
                        <a class="page-link" href="?page={{n}}" aria-label="Next">
                            <span aria-hidden="true">&rsaquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {{/paginate}}
                    {{#paginate pagination type="last"}}
                    <li class="page-item{{#if disabled}} disabled{{/if}}">
                        <a class="page-link" href="?page={{n}}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                    {{/paginate}}
                </ul>
            </nav>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                </ul>
            </nav>
            {{/unless}}
        </div>
        <div class="col-lg border mx-3 px-5 py-4 d-none d-md-block">
            <h4 class="font-weight-light">Community Rules</h4>
            <hr>
            <p class="lead">
            Welcome to CiviDisc
            </p>
            <p>
                Users start with a set amount of <i>Rep</i> and <i>Discs</i>.

                <li>Your rep level reflects the positive impact of
                your interactions on CiviDisc.  Your rep level
                increases from upticking discussions,  creating
                discussions, replying to discussions, when you are
                upticked, and downticking sparingly.  <strong>Excessive
                use of the downtick functionality will reduce
                your rep level.</strong>
                </li>
            </p>
            <p>
                <li>Certain features are unavailable until you reach the required rep
                level.  These include using a custom avatar,
                adding a custom topic, and other features to be
                added in the future.
                </li> 
            </p>
            <p>
                <li>Your discs are a form of currency to perform
                actions.  Discs are gained from your discussions
                and posts that are upticked by other users.
                Discs are spent creating discussions, posting replies,
                upticking, and downticking.
                </li>
            </p>
            <p>
                <strong>CiviDisc is a "safe for work" space.  While some topics will be of a controversial or sensitive nature, users are expected to remain
                respectful at all times.  Personal attacks, excessively vulgar,
                uncivil, or hateful posts are not allowed.</strong>
            </p>
        </div>
    </div>
</div>

<script>
/*
    $(function () {
        var obj = $('#pagination').twbsPagination({
            totalPages: 35,
            visiblePages: 10,
            onPageClick: function (event, page) {
                console.info(page);
            }
        });
        console.info(obj.data());
    });
*/
</script>


